.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
}

.img img{
    height: 100px;
    width: 120px;
}
.cont{
    display: flex;
    justify-content: space-between;
    width: 200px;
}